<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
  </head>
  <!-- Your HTML file -->

  <script src="https://apis.google.com/js/api.js"></script>
  <script>
    async function onApiLoad() {
      gapi.load('picker', { 'callback': await onPickerApiLoad });
    }

    async function getAccessToken() {
      const response = await fetch("user/getAccessToken");
      const dto = await response.json();
      const accessToken = dto.token;
      console.log("accessToken = " + accessToken);
      return accessToken;
    }

    async function onPickerApiLoad() {
      var picker = new google.picker.PickerBuilder()
      .addView(google.picker.ViewId.DOCS)
      .setOAuthToken(await getAccessToken())
      .setCallback(pickerCallback)
      .enableFeature(google.picker.Feature.MULTISELECT_ENABLED)
      .build();
      picker.setVisible(true);
    }

    function pickerCallback(data) {
      if (data.action == google.picker.Action.PICKED) {
        const fileIds = data.docs.map(doc => doc.id);
        // Handle the selected file
        console.log('Selected File ID:', fileIds);
        importFiles(fileIds);
      }
    }

    function importFiles(fileIds) {
      console.log('importing fetch');

      const myHeaders = new Headers();
      myHeaders.append("Content-Type", "application/json");

      const rawBody = JSON.stringify({
        fileIds
      });

      console.dir(fileIds);

      const requestOptions = {
        method: 'POST',
        body: rawBody,
        headers: myHeaders,
        redirect: 'follow'
      };

      return fetch("http://localhost:8090/file/import", requestOptions);
    }

  </script>

  <body>
  <!-- Your page content -->

  <button onclick="onApiLoad()">Open Google Drive Picker</button>
  </body>

</html>